[user]
	name = Robert Anderson
	email = robert@noisysocks.com
	signingkey = 089EAF0B29B07C09
[push]
	default = current
[alias]
	co = checkout
	st = status
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
