[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/default/start/vim-sensible"]
	path = .vim/pack/default/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/default/start/vim-sleuth"]
	path = .vim/pack/default/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/default/start/dracula-vim"]
	path = .vim/pack/default/start/dracula-vim
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/default/start/vim-airline"]
	path = .vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/default/start/ack.vim"]
	path = .vim/pack/default/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/default/start/ctrlp.vim"]
	path = .vim/pack/default/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/default/start/vim-polyglot"]
	path = .vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
