[user]
	name = Robert Anderson
	email = robert@noisysocks.com
	signingkey = E7E6BEC3036F5AC8
[push]
	default = current
[alias]
	co = checkout
	cp = cherry-pick
	st = status
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
