[user]
	name = Robert Anderson
	email = robert@noisysocks.com
	signingkey = ~/.ssh/id_ed25519.pub
[push]
	default = current
[alias]
	co = checkout
	cp = cherry-pick
	st = status
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[includeIf "gitdir:~/code/duckduckgo/"]
	path = .ddg-gitconfig
[includeIf "gitdir:/mnt/c/Users/robert/code/duckduckgo/"]
	path = .ddg-gitconfig
[gpg]
	format = ssh
